<div class="card" style="height: 125px; background-color: #ffffff">
  <ul id="logos_argprog">
    <li class="logo_footer">
      <a
        href="https://www.argentina.gob.ar/produccion"
        target="_blank"
        title="Visite el sitio del ministerio de producción"
        ><img
          id="logo_produccion"
          src=".\assets\img\logos_arg\producccion.png"
          alt="min_produccion"
      /></a>
    </li>
    <li class="logo_footer">
      <a
        href="https://www.argentina.gob.ar/inti"
        target="_blank"
        title="Visite el sitio del INTI"
        ><img id="logo_inti" src=".\assets\img\logos_arg\inti.png" alt="inti"
      /></a>
    </li>
    <li class="logo_footer">
      <a
        href="https://cessi.org.ar/"
        target="_blank"
        title="Visite el sitio de CESSI Argentina"
        ><img
          id="logo_cessi"
          src=".\assets\img\logos_arg\cessi.jpg"
          alt="cessi"
      /></a>
    </li>
  </ul>
</div>
