<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2 id="bienvenido" data-text="¡Bienvenid@!">¡Bienvenid@!</h2>
    </div>

    <!-- Login Form -->
    <form #inicioForm="ngForm">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="user"
        placeholder="Ingresa tu correo"
        [(ngModel)]="usuario.email"
        minlength="8"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Ingresa tu contraseña"
        [(ngModel)]="usuario.password"
        minlength="8"
      />
      <input
        type="button" [disabled]="!inicioForm.form.valid"
        style="margin-top: 25px"
        class="fadeIn fourth"
        value="Iniciar sesión"
        (click)="Ingresar()"
      />
      <input
        type="submit"
        style="width: 57%; margin-top: -10px"
        class="fadeIn fourth"
        value="Ingresar con Google"
        (click)="IngresarConGoogle()"
      />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div class="cuenta-registro">
        <p>¿No tenes una cuenta?</p>
        <a routerLink="/registrarse">Hacé clic aquí.</a>
      </div>
        <div class="cuenta-registro" style="clear: both;">
        <p>¿Olvidaste tu cuenta?</p>
          <a routerLink="/reset">Hacé clic aquí.</a>
        </div>

        <a
        class="underlineHover"
        href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
        target="_blank"
        >Argentina Programa 2022 #YoProgramo</a
      >
    </div>
  </div>
</div>
