<app-navbar></app-navbar>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        fill="currentColor"
        class="bi bi-code-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.05 11.885c0 1.415-.548 2.206-1.524 2.206C4.548 14.09 4 13.3 4 11.885c0-1.412.548-2.203 1.526-2.203.976 0 1.524.79 1.524 2.203zm-1.524-1.612c-.542 0-.832.563-.832 1.612 0 .088.003.173.006.252l1.559-1.143c-.126-.474-.375-.72-.733-.72zm-.732 2.508c.126.472.372.718.732.718.54 0 .83-.563.83-1.614 0-.085-.003-.17-.006-.25l-1.556 1.146zm6.061.624V14h-3v-.595h1.181V10.5h-.05l-1.136.747v-.688l1.19-.786h.69v3.633h1.125z"
        />
        <path
          d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
        />
      </svg>
      Editar proyecto
    </h2>
    <br />

    <form (ngSubmit)="onSubmit()" #proyectosForm="ngForm" style="clear: both">
      <div class="form-group">
        <label>Proyecto: </label>
        <input
          type="text"
          class="form-control"
          id="proyecto"
          [(ngModel)]="proyecto.proyectos"
          name="proyecto"
          required
          minlength="4"
          maxlength="50"
          placeholder="Ingrese el nombre del proyecto"
          #proyectos="ngModel"
        />
        <div
          class="alert alert-danger"
          *ngIf="proyectos.invalid && (proyectos.dirty || proyectos.touched)"
        >
          <div *ngIf="proyectos.errors.required">Escriba el proyecto</div>
          <div *ngIf="proyectos.errors.minlength">
            El proyecto tiene que contener como minimo 4 caracteres
          </div>
          <div *ngIf="proyectos.errors.maxlength">
            El proyecto tiene que tener como maximo 50 caracteres
          </div>
        </div>
      </div>
      <br />

      <div class="form-group">
        <label>Detalle: </label>
        <input
          type="text"
          class="form-control"
          id="nivel"
          [(ngModel)]="proyecto.detalle"
          name="nivel"
          required
          minlength="10"
          maxlength="255"
          placeholder="Describa una breve detalle de su trabajo"
          #detalle="ngModel"
        />
        <div
          class="alert alert-danger"
          *ngIf="detalle.invalid && (detalle.dirty || detalle.touched)"
        >
          <div *ngIf="detalle.errors.required">
            Ingrese una descripción del proyecto
          </div>
          <div *ngIf="detalle.errors.minlength">
            Ingrese al menos 10 caracteres en su descripción
          </div>
          <div *ngIf="detalle.errors.maxlength">
            Puede ingresar hasta 255 caracteres en su descripción
          </div>
        </div>
      </div>
      <br />

      <div class="form-group">
        <label>Tecnología utilizada: </label>
        <input
          type="text"
          class="form-control"
          id="tecnologia"
          [(ngModel)]="proyecto.tecnologia"
          name="tecnologia"
          required
          minlength="4"
          maxlength="100"
          placeholder="Escriba la tecnología que utilizó en este proyecto"
          #tecnologia="ngModel"
        />
        <div
          class="alert alert-danger"
          *ngIf="tecnologia.invalid && (tecnologia.dirty || tecnologia.touched)"
        >
          <div *ngIf="tecnologia.errors.required">
            Escriba la tecnologia que uso en el proyecto
          </div>
          <div *ngIf="tecnologia.errors.minlength">
            La tecnología que describe debe tener un minimo 4 caracteres
          </div>
          <div *ngIf="tecnologia.errors.maxlength">
            La tecnología que describe debe tener un máximo de 100 caracteres
          </div>
        </div>
      </div>
      <br />

      <div class="form-group">
        <label>Link del proyecto web: </label>
        <input
          type="text"
          class="form-control"
          id="linkProyecto"
          [(ngModel)]="proyecto.linkProyecto"
          name="linkProyecto"
          placeholder="Escriba el link del sitio donde se encuentra el proyecto, NO ES OBLIGATORIO"
          #linkProyecto="ngModel"
        />
      </div>
      <br />

      <div class="form-group">
        <label>Icono habilidad: </label>
        <input
          type="text"
          class="form-control"
          id="imagen"
          [(ngModel)]="proyecto.imagen"
          name="imagen"
          #imagen="ngModel"
          placeholder="Ingrese direccion URL de la imagen (Sitio web donde se encuentra almacenado) NO ES OBLIGATORIO"
        />
      </div>
      <br />

      <div style="float: right; display: block">
        <button class="btn btn-success" [disabled]="!proyectosForm.form.valid">
          Guardar cambios
        </button>
        <button
          class="btn btn-danger"
          (click)="irHome()"
          style="margin-left: 10px"
        >
          Descartar y salir
        </button>
      </div>
    </form>
  </div>
</div>
